<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Générateur de Wallet Bitcoin</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <h1>Générateur de Wallet Bitcoin (BIP39 + Bech32)</h1>
        <form method="POST">
            <label for="passphrase">Passphrase (optionnel) :</label>
            <input type="text" name="passphrase" id="passphrase" placeholder="Facultatif">
            <button type="submit">Générer</button>
        </form>
        {% if mnemonic %}
        <div class="result">
            <h2>Phrase Mnémonique :</h2>
            <div class="inline-container">
                <p class="mnemonic">{{ mnemonic }}</p>
                <img src="{{ mnemonic_qr }}" alt="QR Code Mnemonic" class="qr-code">
            </div>

            <h2>Adresse Bitcoin :</h2>
            <div class="inline-container">
                <p class="address">{{ address }}</p>
                <img src="{{ address_qr }}" alt="QR Code Adresse" class="qr-code">
            </div>

            <h2>Clé Privée :</h2>
            <div class="inline-container">
                <p class="private-key hidden" id="privateKey">{{ private_key }}</p>
                <img src="{{ private_key_qr }}" alt="QR Code Clé Privée" class="qr-code">
            </div>
            <button onclick="togglePrivateKey()">Afficher / Cacher</button>
        </div>
        {% endif %}
    </div>

    <script>
        function togglePrivateKey() {
            var key = document.getElementById("privateKey");
            if (key.classList.contains("hidden")) {
                key.classList.remove("hidden");
            } else {
                key.classList.add("hidden");
            }
        }
    </script>
</body>

</html>